body{

  width:80%;
  margin: auto;
  border: 1px solid;
}

header{

  width: 100%;
  height:400px;
}

.img{


  width: 20%;
  height: 200px;
  border: 1px solid;
}

div{

  margin-bottom: 20px;
}

#con{
width:100%;
height: 100%;
display: inline-flex;
flex-wrap: wrap;
justify-content: space-around;

}

#red{height: 100px;
  width:17%;
  height:100px;

  background: rgb(255, 0, 0);
}

#blue{height: 100px; width:17%;
  background: rgb(0, 0, 255);
}
#green{height: 100px; width:17%;
background: rgb(128, 255, 0);

}

#black{height: 100px;
  width:17%;
background: rgb(0, 0, 0);

}

#blue-light{height: 100px;
  width:17%;

  background: rgb(0, 255, 191);
}

#yellow{height: 100px; width:17%;

  background: rgb(255, 255, 0);
}

#orange{height: 100px; width:17%;

  background: rgb(255, 128, 0);
}

#pink{height: 100px; width:17%;
  background: rgb(191, 0, 255);
}

#grey{height: 100px; width:17%;

  background: rgb(128, 128, 128);
}

#brown{height: 100px; width:17%;
  background: rgb(90, 31, 0)
}

#pick-rgb{

  float: right;;
}


button{

  display: none;
}

button #pick-rgb:hover,button #enter-rgb:hover{

display: inline-block;
}
